a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s linear;
}
.nav a:hover {
  text-decoration: underline;
  color: var(--titleshover);
}
.header {
  position: fixed;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header * {
  z-index: 10;
}
.logos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px;
}
.gso {
  height: 90px;
  width: auto;
}
.xtd {
  cursor: pointer;
  height: 90px;
  width: auto;
}
.abrir-menu {
  /*Si quito el margin se me centra el boton¿porque?*/
  display: none;
}
.cerrar-menu {
  display: none;
}
.cerrar-menu img {
  height: 25px;
  margin-top: 10px;
  margin-left: 20px;
  filter: invert(100);
}
.nav {
  background-color: var(--boxes);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.nav-list {
  color: var(--titles);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  width: auto;
  gap: 20px;
}
.rrss {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  gap: 5px;
}
.rrss a {
  margin-top: auto;
  height: auto;
  display: flex;
}
.rrss img {
  height: 40px;
}
@keyframes scale-img {
  from {
    scale: 100%;
  }
  to {
    scale: 115%;
  }
}
.rrss img:hover {
  animation: scale-img 0.3s infinite alternate;
}

@media screen and (max-width: 890px) {
  .abrir-menu,
  .cerrar-menu {
    display: flex;
    justify-content: start;
    margin: 10px;
    background-color: transparent;
    border: none;
    height: auto;
  }
  .nav-list {
    gap: 0;
    opacity: 0;
    visibility: hidden;
    width: 342px;
    flex-direction: column;
    position: fixed;
    top: 113px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--titleshover);
    justify-content: flex-start;
    align-items: left;
    box-shadow: 0 100vmax 0 100vmax rgba(0, 0, 0, 0.75);
  }
  .nav-list li a {
    padding: auto;
  }

  .nav-list.visible {
    height: 100vh;
    opacity: 1;
    visibility: visible;
    display: flex;
  }
  .nav-list.visible li {
    height: auto;
    width: 100%;
    padding: 20px;
    color: var(--secondary);
  }
  .nav-list.visible li:hover {
    height: auto;
    width: 100%;
    padding: 20px;
    color: var(--titleshover);
    background-color: var(--secondary);
  }
}
@media screen and (max-width: 670px) {
  .nav-list {
    top: 74px;
  }
  .logos img {
    height: 50px;
  }
  .rrss img {
    height: 30px;
  }
}
