li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav a:hover {
  text-decoration: underline;
  color: rgb(96, 4, 4);
}
.header {
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px;
}
.gso {
  height: 90px;
  width: auto;
}
.xtd {
  height: 90px;
  width: auto;
}
.abrir-menu {
  /*Si quito el margin se me centra el boton¿porque?*/
  display: none;
}
.cerrar-menu {
  display: none;
}
.cerrar-menu img {
  height: 25px;
  margin-top: 10px;
  margin-left: 20px;
  filter: invert(100);
}
.nav {
  background-color: rgb(213, 213, 213);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.nav-list {
  color: rgb(192, 3, 3);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  width: auto;
  gap: 20px;
}
.rrss {
  display: flex;
  align-items: center;
  height: auto;
  gap: 5px;
}
.rrss a {
  margin-top: auto;
  height: auto;
  display: flex;
}
.rrss img:hover {
  scale: 110%;
}

@media screen and (max-width: 860px) {
  .abrir-menu,
  .cerrar-menu {
    display: flex;
    justify-content: start;
    margin: 10px;
    background-color: transparent;
    border: none;
    height: auto;
  }
  .nav-list {
    gap: 0;
    opacity: 0;
    visibility: hidden;
    width: 342px;
    flex-direction: column;
    position: absolute;
    top: 113px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(112, 19, 19);
    justify-content: flex-start;
    align-items: left;
    box-shadow: 0 100vmax 0 100vmax rgba(0, 0, 0, 0.75);
  }
  .nav-list li a {
    padding: auto;
  }

  .nav-list.visible {
    opacity: 1;
    visibility: visible;
    display: flex;
  }
  .nav-list.visible li {
    width: 100%;
    padding: 20px;
    color: white;
  }
  .nav-list.visible li:hover {
    width: 100%;
    padding: 20px;
    color: rgb(192, 6, 6);
    background-color: aliceblue;
  }
}
@media screen and (max-width: 670px) {
  .nav-list {
    top: 74px;
  }
  .logos img {
    height: 50px;
  }
  .rrss img {
    height: 30px;
  }
}
