footer {
  background-color: var(--boxes);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px 40px 10px;
}
.generaciond {
  width: 280px;
  height: auto;
}
.address p {
  color: var(--primary);
  text-align: left;
  padding-top: 7px;
}
.moreinfo li {
  padding: 5px 0;
  color: var(--titles);
  font-weight: 600;
  text-align: center;
  transition: all 0.1s linear;
}
.moreinfo a:hover {
  color: var(--titleshover);
  text-decoration: underline;
}

@media screen and (max-width: 860px) {
  footer {
    flex-direction: column;
    gap: 20px;
  }
  .address p {
    text-align: center;
    padding-top: 5px;
  }
}
